*{
    box-sizing: border-box;
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    border: 5px solid rgba(121, 59, 34, 0.99);
}   
main{
    margin: auto;
}
body{
    background-image: url("../kepek/hatter.png");
}

header{
    text-align: center;
}