.esemenykeret{
    
}
.esemeny{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img{
width: 100%;
}
footer{
    width: 99%;
    margin: auto;
    border: 3px solid var(--szegelySzin);
}

@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 10px 0;
  }
}

/* Idővonal elrendezése, grid és reszponzivitás */