.esemenykeret{
    display: grid;
    grid-template-columns: 1fr;
}
.esemeny{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img{
width: 100%;
}
@media (max-width: 700px) {
  .esemenykeret {
    grid-template-columns: 1fr;
  }
  .esemeny{
    grid-template-columns: 1fr;
  }
}




/* Idővonal elrendezése, grid és reszponzivitás */